<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="微信网络提示与横幅纯净精简模块" />
        <meta-data
            android:name="xposedminversion"
            android:value="93" />
    </application>
</manifest>
